body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;

}

.content{
    width: 1000px;
}

.container-logo{
    width: 229px;
    height: 68px;
    display: flex;
    margin: 0 auto;
    margin-top: 42px;
    margin-bottom: 35px;
}

.container-white{
    color: white;
    text-align: center;
}

p{
    color: gray;
}

button{
    background-color: black;
    border: 1px solid white;
    width: 200px;
    height: 35px;
    display: flex;
    margin: 0 auto;
    margin-top: 42px;
    margin-bottom: 73px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;  
    margin: 0 auto;
    margin-bottom: 102px;
    list-style: none;
    text-align: center;
} 

img{
    width: 160px;
    height: 160px;
    margin-bottom: 15px;
    margin-top: 30px;
    border-radius: 10px;
}

.container-perfil:hover img{
    border: 2px solid white;
}


.container-perfil:hover p{
    color: white;
}

.gerenciar-perfis:hover button{
    background-color: white;
    color: black;
}

